################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JameForCause2019/v16/Browse.VC.opendb
