################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JameForCause2019/v16/Browse.VC.opendb
/.vs/JameForCause2019/v16/Browse.VC.db
/JamForCause2019/Assets/Prefabs/Player1.prefab.meta
/JamForCause2019/Assets/Prefabs/Player2.prefab.meta
/JamForCause2019/Assets/Scripts.meta
/JamForCause2019/Assets/Scripts/PlayerMovement.cs.meta
/JamForCause2019/Assets/Prefabs.meta
/JamForCause2019/Temp
